<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseUrl</key>
	<string>https://qiita.com/api</string>
	<key>redirectUrl</key>
	<string>https://qiita.api.client.sample</string>
	<key>clientId</key>
	<string>131cbae5ffc547ac8aea7419903404a4ce3b5cfd</string>
	<key>clientSecret</key>
	<string>e776cca59321d293542acf70dafd5ba1725398d0</string>
</dict>
</plist>
