<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseUrl</key>
	<string>https://qiita.com/api</string>
	<key>clientId</key>
	<string>f97283ff0ab6969790f651cfdcc47dbd9a046123</string>
</dict>
</plist>
